
/* Your CSS Code here. */
body{
	background-color:orangered;
	height: 1000px;
	width: 600px;
	font-family:sans-serif;
}
header{
	display:flex;
	justify-content: space-around;
	padding:25px;
	gap:40px;
	grid-template-columns: repeat(7,1fr);
}	
img{
	width:120px;
	border-radius: 50%;
	border: 2px solid white;
}
header div h4{
  margin-top:-15px;
}
section{
	display:grid;
	grid-template-columns: repeat(7, 1fr);
}
.item{
    padding:5px;
	margin:3px
}
.item1{
	grid-column: 1 2;
	grid-row: 1 2;
    color:white;
}
.item2{
	grid-column: 2 3;
	grid-row: 1 2;
	margin-left:15px;
	height:180px;
}
.item3{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	height:220px;
	color:white;
}
.item4{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 4;
	margin-top:-20px;
	margin-left: 15px;
}
.item5{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
	height: 210px;
	color:white;
}
.item6{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;
	margin-left: 15px;
	height:120px;
}
.item7{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 5;
	height:120px;
	color:white;
}
h3{
	margin:0px;
}
ul{
	padding-left:18px;
	font-family:lato;
	
}
.li{
	list-style-type:none;
}
.a{
	padding-right:350px;
}
.item2 p{
	font-family:lato;
	font-size:13px;
	text-align:justify;
}
h5{
	margin-top:3px;
}
.li2{
	margin-top:-10px;
}
.skill{
	margin-left:-10px;
}
.li3{
	margin-top:3px;
	font-family:lato;
}
h3{
   color:white;
}
.ol{
	display:flex;
	justify-content: space-between;
	margin-top:-20px;
}
.p{
	margin-top:-17px
}
.ul{
	font-size:small;
	margin-top:-15px;
	list-style-type:disc;
}
.ref{
	display:flex;
	justify-content:space-between;
}
.ref1{
	margin-top:16px;
}
.ref_child{
	line-height:2px;
	margin-top:-2px;
}
.font{
	font-size:x-small;
}